<main class="relative overflow-hidden">
  <div class="relative mx-auto px-8 max-w-7xl py-24 md:px-12">
    <div class="mx-auto text-center">

      <!-- Brand Name / Intro -->
      <span class="uppercase tracking-widest  text-xs  md:text-sm text-negroni-500 font-semibold mb-4 block">
        Presented by  <span class="text-[#fd6043]"> Lumière Coffee </span>
      </span>

      <h1 class="text-negroni-500  font-bold md:text-6xl text-3xl tracking-tight kanit-bold">
        Discover Our Exceptional Coffee, <span class="md:block">Crafted for the Refined Palate.</span>
      </h1>
      <p class="mt-8 text-negroni-100 text-base md:text-xl max-w-3xl mx-auto leading-relaxed  kanit-light upp">
        Handcrafted in small batches, our rare single-origin coffees are a true celebration of purity, precision, and indulgence — designed to elevate every moment of your day.      </p>
        <div class="flex justify-center flex-col gap-3 mt-10 sm:flex-row uppercase kanit-bold">
          <a
            class="items-center h-12 justify-center font-semibold rounded border-2 border-negroni-500 duration-300 focus:outline-none inline-flex px-8 py-4 text-center w-full text-negroni-500 lg:w-auto  hover:border-tomato-500 hover:text-tomato-500 transition-all ease-in-out"
            href="#collection">Explore Collection</a>
          <a
            class="items-center h-12 justify-center rounded font-semibold duration-300 focus:outline-none inline-flex px-8 py-4 text-center w-full border-2 border-negroni-500 bg-negroni-500  lg:w-auto hover:bg-transparent text-charcoal-500 hover:text-tomato-500 transition-all ease-in-out"
            href="#story">Our Story </a>
        </div>
        
        
    </div>
  </div>
</main>
