---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/global/Footer.astro";
import AiButton from "../components/global/AiButton.astro";

---

<html lang="en">
  <head>
    <BaseHead />
  </head>

  <body class="bg-charcoal-500">
    


<AiButton></AiButton>
    



    <slot />
<Footer/>
  </body>
</html>
