<footer class=" flex justify-center ">
  <div class="items-center text-center    lg:px-16 md:px-12  px-8  xl:px-36">
    <div class="flex flex-col gap-y-12 items-start justify-between lg:flex-row lg:items-center lg:py-16 pb-6 pt-16">
      <div class="lg:text-center lg:mx-auto">
        <div class="flex items-center text-white">
          <div class="lg:text-center lg:mx-auto">
            <p class="  lg:mx-auto lg:text-4xl text-2xl">
   <!-- Brand Name / Intro -->
   <span class="uppercase tracking-widest text-sm text-negroni-500 font-semibold mb-4 block">
    Presented by  <span class="text-[#fd6043]"> Lumière Coffee </span>
  </span>
        </p>
        <p class="mt-4 text-base md:text-lg max-w-2xl mx-auto leading-relaxed kanit-light">
          Available at select gourmet stores, luxury hotels, and boutique markets near you.  
          Discover the taste of elegance — in every sip.
        </p>
          </div>
        </div>
      
      </div>
    </div>
    <div class="flex kanit-light flex-col border-t border-negroni-500/10 lg:mx-auto lg:text-center md:pt-6 pb-12 pt-8">
      <p class="text-tomato-500 md:mt-0 mt-6 text-sm">
        Crafted at <a href="https://studio.crio.dev" class="underline hover:text-negroni-500 transition">studio.crio.dev</a> by Suraj Raika      </p>
    </div>
  </div>
</footer>
